<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="SmartLiberate_v2.Mobile"
        version = "1.0"
        versionCode = "1">
        <name>SmartLiberate</name>

        <description>DevExtreme based multiplatform application.</description>

        <author href="example.com" email="mail@example.com">PhoneGap User</author>

        <preference name="phonegap-version" value="3.6.3"/>
        <preference name="android-windowSoftInputMode" value="adjustPan"/>
        <gap:config-file platform="ios" parent="CFBundleShortVersionString">
                <string>1.0</string>
        </gap:config-file>

        <access origin="*"/>

        <gap:plugin name="com.devexpress.plugins.devextremeaddon" version="1.0.1"/>
        <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0"/>
        <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4"/>
        <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10"/>
        <gap:plugin name="org.apache.cordova.media" version="0.2.13"/>
        <gap:plugin name="org.apache.cordova.device" version="0.2.12"/>
        <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0"/>
        <icon src="res/PackageIcons.Android.ic_launcher_48_48.png" gap:platform="android" gap:density="mdpi" />


        <gap:splash src="res/PackageIcons.Android.splash_320_480.png" gap:platform="android" gap:density="mdpi" />


</widget>